$primary-dark-color: hsl(235, 21%, 11%);
$primary-very-dark-desaturated-color: hsl(235, 24%, 19%);
$primary-light-color: hsl(234, 39%, 85%);
$primary-light-color-hover: hsl(236, 33%, 92%);
$primary-light-color-active: rgb(57, 103, 201);
$secondary-dark-color: hsl(234, 11%, 52%);
$secondary-very-dark-color: hsl(233, 14%, 35%);
$secondary-very-dark-color-two: hsl(237, 14%, 26%);